<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4389/Service.asmx" binding="basicHttpBinding"
                bindingConfiguration="ServiceSoap" contract="localhost.ServiceSoap"
                name="ServiceSoap" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <WindowsClient.Properties.Settings>
            <setting name="WindowsClient_localhost_Service" serializeAs="String">
                <value>http://localhost:4389/Service.asmx</value>
            </setting>
        </WindowsClient.Properties.Settings>
    </applicationSettings>
</configuration>